<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="mhaHealthCheckScan" xsi:type="object">Mha\HealthCheck\Console\Command\ScanCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Mha\HealthCheck\Model\ScanRunner">
        <arguments>
            <argument name="collectors" xsi:type="array">
                <item name="magento" xsi:type="object">Mha\HealthCheck\Collector\MagentoCollector</item>
                <item name="database" xsi:type="object">Mha\HealthCheck\Collector\DatabaseCollector</item>
                <item name="database_advanced" xsi:type="object">Mha\HealthCheck\Collector\DatabaseAdvancedCollector</item>
                <item name="cron" xsi:type="object">Mha\HealthCheck\Collector\CronCollector</item>
                <item name="indexer" xsi:type="object">Mha\HealthCheck\Collector\IndexerCollector</item>
                <item name="redis" xsi:type="object">Mha\HealthCheck\Collector\RedisCollector</item>
                <item name="opensearch" xsi:type="object">Mha\HealthCheck\Collector\OpenSearchCollector</item>
                <item name="composer" xsi:type="object">Mha\HealthCheck\Collector\ComposerCollector</item>
                <item name="logs" xsi:type="object">Mha\HealthCheck\Collector\LogCollector</item>
                <item name="fpc" xsi:type="object">Mha\HealthCheck\Collector\FpcCollector</item>
                <item name="patches" xsi:type="object">Mha\HealthCheck\Collector\PatchCollector</item>
                <item name="system" xsi:type="object">Mha\HealthCheck\Collector\SystemCollector</item>
                <item name="php" xsi:type="object">Mha\HealthCheck\Collector\PhpCollector</item>
                <item name="http" xsi:type="object">Mha\HealthCheck\Collector\HttpCollector</item>
                <item name="security_headers" xsi:type="object">Mha\HealthCheck\Collector\SecurityHeadersCollector</item>
                <item name="extensions" xsi:type="object">Mha\HealthCheck\Collector\ExtensionCollector</item>
                <item name="security" xsi:type="object">Mha\HealthCheck\Collector\SecurityCollector</item>
                <item name="integrations" xsi:type="object">Mha\HealthCheck\Collector\IntegrationCollector</item>
                <item name="store" xsi:type="object">Mha\HealthCheck\Collector\StoreInfoCollector</item>
            </argument>
        </arguments>
    </type>
    <type name="Mha\HealthCheck\Report\ReportDataBuilder">
        <arguments>
            <argument name="historyManager" xsi:type="object">Mha\HealthCheck\Report\HistoryManager</argument>
        </arguments>
    </type>
    <type name="Mha\HealthCheck\Report\JsonReportGenerator">
        <arguments>
            <argument name="historyManager" xsi:type="object">Mha\HealthCheck\Report\HistoryManager</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Ui\Component\Listing\Columns\Thumbnail">
        <plugin name="mha_catalog_thumbnail_null_alt"
                type="Mha\HealthCheck\Plugin\Catalog\Ui\Component\Listing\Columns\NormalizeThumbnailAlt"
                sortOrder="10"/>
    </type>
</config>
