<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mha_HealthCheck::dashboard"
             title="Health Check Dashboard"
             module="Mha_HealthCheck"
             sortOrder="90"
             parent="Magento_Backend::system"
             action="healthcheck/dashboard/index"
             resource="Mha_HealthCheck::dashboard"/>
    </menu>
</config>
